# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\weaii\magisterka\semestr2\Programow. imperatywne, obiektowe i dek.,\XmlToJson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
